{% extends 'base.html.twig' %}

{% block title %}Mentions légales {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('main') }}
{% endblock %}

{% block body %}

    <section class="admin_body_container">
        <div class="card mb-3" style="width: 80% ; padding: 8px;">
            <div class="row g-0">
                <h2 class="mb-4">MENTIONS LÉGALES</h2>
                <div class="card-body">
                    <p>Conformément aux dispositions de la loi n° 2004-575 du 21 juin 2004 pour la confiance en l'économie numérique, il est précisé aux utilisateurs du site LibrioLivre l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi.</p>
                    <h4>Edition du site</h4>
                    <p>Le présent site, accessible à l’URL www.bibliolivre.fr (le « Site »), est édité par :</p>
                    <p>Mélody Delage, résidant 79000 Niort, de nationalité Française (France), né(e) le 06/12/1991, </p>
                    <h4>Hébergement</h4>
                    <p>Le Site est hébergé par la société OVH SAS, situé 2 rue Kellermann - BP 80157 - 59053 Roubaix Cedex 1, (contact téléphonique ou email : 1007).</p>
                    <h4>Directeur de publication </h4>
                    <p>Le Directeur de la publication du Site est Mélody Delage.</p>
                    <h4>Nous contacter</h4>
                    <p>Par téléphone : +33633596000</p>
                    <p>Par email : melody.delage@campus-eni.fr</p>
                    <p>Par courrier : 79000 Niort</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
