@import "~bootstrap/scss/bootstrap";
@import "variables.scss";

.admin_body_container {
    padding: 0 5%;
}

.entete{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .pied-page{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    list-style: none;
    & a{
      background-color: $secondary;
      text-decoration-line: none;
      color: $third;
      }
  }

body {

    & header{
        background-color: $secondary;
        
        & h1 {
            color: $third;
        }
    }

    & main {
        padding-top: 30px;
        min-height: calc(100vh); /* Hauteur minimale du contenu pour garder le footer en bas */
        background-color: $primary;
      }
    
    & footer{
        background-color: $secondary;
        bottom: 0;
        width: 100%;
        color: $third;

    }
}