@import "~bootstrap/scss/bootstrap";
@import "variables.scss";

.admin_body_container {
    margin: 1em auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

    & h2 {
        text-align: center;
    }
}

.entete{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
  
    .pied-page{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 50px;
        list-style: none;

        & a{
            background-color: $third;
            text-decoration-line: none;
            color: $secondary;
        }
}

body {
    & header{
        background-color: $third;

        & h1 {
            color: $secondary;
        }
    }

    & main {
        padding-top: 30px;
        min-height: calc(100vh); /* Hauteur minimale du contenu pour garder le footer en bas */

        & h1 {
            text-align:center;
        }
    }
    
    & footer {
        background-color: $third;
        bottom: 0;
        width: 100%;
        color: $secondary;
    }
}

