{% extends 'admin/base_admin.html.twig' %}

{% block title %}{{livre.titre}}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('main') }}
{% endblock %}

{% block body %}
    <section class="admin_body_container">
        {% include 'component/detail_livre.html.twig' %}
    </section>
{% endblock %}